@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
        url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

body {
    background-color: peachpuff;
}

.DDP {
    margin-top: 5%;
}

#logo {
    width: 1cm;
    height: 1cm;
    align-items: center;
    margin: auto;
}

h3 {
    text-align: center;

}

#box1 {
    background-color: white;
}


#box3 {

    background-color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}

footer p {
    color: white;
}